<ul class="front-page-list  full small-block-grid-{{posts | length }}">
{% for post in posts  %}
<li style="background:url('{{TimberImage( post.organiser_logo ).src}}') right bottom no-repeat;">
	<div class="box-content" >
	<h4><a href="{{post.link}}">{{  post.title}}</a></h4>
    	{{post.post_content | striptags | slice (0,200)}}
  	</div>
  	<a href="{{post.link}}" class="button round btn btn-clr">{{ __("View Organiser","hackedx-plugin") }}</a>
</li>

{% endfor %}
</ul>